.area-border {
  margin: 10px 250px;
  padding: 20px;
  border: 2px solid green;
}
.textarea {
  margin-left: 55px;
}

#submit {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 25px;
  width: 91%;
  padding: 10px 0px;
  visibility: hidden;
}
#arrange {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 25px;
  width: 91%;
  padding: 10px 0px;
}
